body{
    margin: 0;
    background-image: url(images/pattern-background.jpg);
    background-size: 50%;
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
}

h1{
    color: white;
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    margin-top: -1%;
    margin-bottom: -1%;
}

.center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.containerMain{
    background-color: rgba(178,196,220,255);
    height: 90vh;
    width: 75vw;
    background-image: url(images/background-formulario.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.container2{
    margin: 2%;
    width: 40%;
}

.container3{
    width: 100%;
}

.item{
    width: 98%;
    height: 200%;
    padding-left: 2%;
    border-style: none;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
}

.nme{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.slc{
    width: 100.5%;
}

.msj{
    height: 25rem;
    resize: none;
    overflow: hidden;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
}

.btn{
    width: 100.5%;
    height: 4rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: rgba(206,39,95,255);
    font-size: 1.5rem;
    color: white;
}

@media screen and (max-device-width:820px){
    body{
        margin: 0;
        width: 100vw;
        height: 100vh;
        background-image: none;
        background-color: rgba(178,196,220,255);
    }
    .containerMain{
        background-image: none;
        width: 100vw;
        height: 100vh;
    }
    .container2{
        margin: 0;
        width: 85%;
    }

    .container3{
        margin: 0;
    }
    
    .msj{
        height: 20rem; 
    }
    
    .btn{
        width: 100%;
        height: 4rem;
    }
}

@media screen and (min-device-width:821px) and (max-device-width:1024px){
    .containerMain{
        width: 100vw;
        height: 100vh;
    }

    .container2{
        width: 50%;
    }

    .msj{
        height: 15rem;
    }
}
