body{
    margin: 0;
    background-image: url(images/pattern-background-extended.png);
    background-size: 50%;
    font-family: 'Nunito', sans-serif;
}

.specialFont{
    color:rgba(206,39,95,255);
}

.containerMain{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.item1{
    padding-right: 10%;
    padding-top: 5%;
}

.item1 > img{
    width: 100%;
    margin-left: 10%;
}

.item2{
    width: 100%;
    background-color: white;
    text-align: left;
    font-size: 1.8rem;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 5%;
}

.arrows{
    padding-top: 10%;
    font-size: 1rem;
    text-align: right;
    display: flex;
    flex-direction: row-reverse;
    gap:1rem;
}

.arrows > a{
    text-decoration: none;
    color:black;
    font-weight: bold;
}

.arrows > a:hover{
    color:rgba(206,39,95,255);
}